$color-white : #fff;

$color-primary-dark : #2d98da;
$color-primary-dark-2 : #45aaf2;
$color-primary-light : #08a0ff;
$color-secondary : #fa8231;
$color-secondary-2:#fd9644;
$color-black : rgba(0, 0, 0, 0.8);

$box-shadow : 0 5px 10px rgba($color: #000000, $alpha: 0.3);