*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Lato";
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    color: rgb(100, 100, 100);

    @include respond(tab-land) {
        // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {}

/* lato-regular - latin */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v16-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/lato-v16-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/lato-v16-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/lato-v16-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg');
    /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v16-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/lato-v16-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/lato-v16-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/lato-v16-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/lato-v16-latin-700.svg#Lato') format('svg');
    /* Legacy iOS */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v16-latin-900.eot');
    /* IE9 Compat Modes */
    src: local('Lato Black'), local('Lato-Black'),
        url('../fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/lato-v16-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/lato-v16-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/lato-v16-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/lato-v16-latin-900.svg#Lato') format('svg');
    /* Legacy iOS */
}