.btn {
    padding: 1rem 2rem;
    width: 20rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $color-white;
    background-image: linear-gradient(90deg, $color-primary-light,
            $color-primary-dark);
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 2rem;
    transition: all .3s ease;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .4);

    &:hover {
        transform: translateY(.2rem);
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .8);
    }

    &:active {
        transform: translateY(.1rem);
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .4);
    }
}